{% extends 'base.html' %}

{% block title %}{{ course.name }} | Tölvufræðslan Akureyri{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/course_details/styles.css') }}">

<div class="course-banner">
    <div class="blue-overlay"></div> <!-- New blue overlay -->
    <img src="{{ course.image_url or url_for('static', filename='images/default-course.png') }}" alt="{{ course.name }} Image">
    <h1 class="banner-title">{{ course.name }}</h1> <!-- Course Title Overlay -->
</div>

<div class="course-detail-container">
    <header class="course-header">
        <h1>{{ course.name }}</h1>
        <p>{{ course.short_description }}</p>
    </header>

    <div class="course-info">
        <p>{{ course.description|safe }}</p>
    </div>

    <div class="course-price">
        <p><strong>Verð: </strong>{{ int(course.price) }}</p>
    </div>
    
    <a href="{{ url_for('course_routes.register', courseid=course.courseid) }}" class="button">Skrá mig</a>


</div>

{% endblock %}
