{% extends 'base.html' %}

{% block title %}Edit: {{ course.name }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course_edit/styles.css') }}">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="course-detail-container">
    <h1>Edit Course: {{ course.name }}</h1>

    <form action="{{ url_for('course_routes.edit_course', courseid=course.courseid) }}" method="POST">
        <label for="name">Course Name:</label>
        <input type="text" id="name" name="name" value="{{ course.name }}" required>

        <label for="short_description">Short Description:</label>
        <input type="text" id="short_description" name="short_description" value="{{ course.short_description }}" required>

        <label for="description">Full Description:</label>
        <div id="editor">{{ course.description|safe }}</div>
        <input type="hidden" id="description" name="description">

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" value="{{ course.price }}" required>

        <label for="image_url">Image URL:</label>
        <input type="text" id="image_url" name="image_url" value="{{ course.image_url }}">

        <button type="submit" class="button">Save Changes</button>
    </form>
</div>

<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script>
    var quill = new Quill('#editor', {
        theme: 'snow'
    });

    quill.root.innerHTML = `{{ course.description|safe }}`;

    document.querySelector('form').onsubmit = function() {
        document.querySelector('#description').value = quill.root.innerHTML;
    };
</script>
{% endblock %}
