{% extends 'base.html' %}

{% block title %}Tölvufræðslan Akureyri | Námskeið{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/course_list/styles.css') }}">

<div class="banner">
    <img src="{{ url_for('static', filename='images/banner4.png') }}" alt="Banner Image">
</div>

<div class="container">
    <h2 style="text-align: center;">Nám að hefjast </h2>

    <div class="course-list">
        {% for course in courses %}
        <div class="course">
            <img src="{{ course.image_url or url_for('static', filename='images/default-course.png') }}" alt="{{ course.name }} Logo">
            
            <h3>{{ course.name }}</h3>
            <p>Námskeið hefst: {{ course.startdate.strftime('%d-%m-%Y') }}</p>
            <p><strong>Verð:</strong> {{ int(course.price) }} kr.</p>
            <p>{{ course.short_description }}</p>
            <a href="{{ url_for('course_routes.course_detail', courseid=course.courseid) }}" class="button">Skoða nánar</a>

        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
